.board {
  margin-top: 50px;
}

.row {
  height: 35px;
}

.cell {
  width: 35px;
  height: 35px;
  outline: 1px solid rgb(134, 154, 189);
  display: inline-block;
}

.cell-green {
  background-color: green;
  border-radius: 90px;
}

.cell-red {
  background-color: red;
}

.cell-purple {
  background-color: purple;
}
@keyframes zoom-out {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.5);
  }
}

.game-over-message {
  transition: transform 0.5s ease;
}

.zoom-out {
  animation: zoom-out 5s ease forwards;
}
